body {
  background-color: rgba(0, 0, 0, 0.952);
}
#div1 {
  margin: 0 auto;
  margin-top: 50px;
  width: 300px;
  height: 450px;
  border-radius: 8px;
  background-color: rgb(1, 1, 48);
}

#img_equilibrium {
  width: 260px;
  height: 200px;
  margin-left: 20px;
  margin-top: 20px;
  object-fit: fill;
}
#div3,
h3,
p {
  margin-left: 10px;
}
#div3,
h3 {
  color: white;
}
#div3,
p {
  color: rgb(78, 78, 138);
}
#etherium {
  width: "5px";
  /* height:"2"; */
  margin-left: 20px;
}
#etherium_text {
  color: white;
  margin-left: 0px;
  /* margin-top: px; */
  /* float: right; */
}
#clock {
  float: right;
  margin-top: 8px;
  margin-right: 20px;
}
#clock,
#clock_text {
  color: white;
}
hr {
  width: 80%;
  background-color: cadetblue;
  border-color: cadetblue;
}
#footer {
  color: white;
  margin-left: 50px;
}
#avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  
}
